  <p class="list_header">
      <%= link_to "#{author.name}", author %>
    </p>
    <p class="index_page">
  <%= link_to 'Edit', edit_author_path(author)%> |
  <%= link_to 'Delete', author, method: :delete, data: { confirm: 'Are you sure?' }%>
  </p>
