<h3>Manage Ingredients, Categories and Regions</h3>
<ul class="index">
  <li class="list_header"><%=link_to("View, Update and Add Meal Categories", meal_categories_path)%></li>
  <li class="list_header"><%=link_to("View, Update and Add Cuisine Regions", regions_path)%></li>
  <li class="list_header"><%=link_to("View, Update and Add Ingredient Categories", ingredient_categories_path)%></li>
  <li class="list_header"><%=link_to("View, Update and Add Ingredients", ingredients_path)%></li>

