// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//'Numans'

//'Alex Brush'


$head_font: 'Numans', sans-serif;
$script_font: 'Alex Brush', cursive;
$ice: #E1E7E8;
$main_pink: #A60349;
$main_navy:#003B61;



#error_explanation {
  color: red;
}

#notice {
  color: green;
}

body {
    background: $ice;
}

.container {
  background: #FFFFFF;
  padding: 10px;
}

.photo {
  width: 500px;
  height: 300px;
  overflow: hidden;
  margin: auto;
  display: block;
}

.photo_small {
  width: 200px;
  height: 120px;
  overflow: hidden;
  display: block;
}


h1 {
  background: $main_pink;
  font-family: $script_font;
  font-weight: bold;
  color: #FFFFFF;
  margin: 0;
  border-radius: 5px;
  text-align: center;
  font-size: 60px;
}

h2.show_title {
  font-family: $script_font;
  font-size: 70px;
  color: $main_pink;
  font-weight: bold;
  border-bottom: 2px solid $main_pink;
}

h3 {
  margin: 0;
  font-size: 30px;
  font-family: $head_font;
  text-align: left;
  color: $main_navy;
}
#mealtype {
  margin: 0;
  font-size: 30px;
  font-family: $head_font;
  text-align: left;
  color: $main_navy;
}
#region {
  margin: 0;
  font-size: 30px;
  font-family: $head_font;
  text-align: right;
  color: $main_navy;
}

#from {
  font-size: 40px;
  font-family: $head_font;
  text-align: center;
  background: $main_navy;
  color: #FFFFFF;
  margin: 0;
  font-weight: bold;
}

.occaision {
  font-family: $script_font;
  color: $main_navy;
  font-size: 30px;
  text-align: center;
}

ul.ingredients {
  margin-left: 0;
  list-style: none;
  border-top: 2px solid $main_pink;
  border-bottom: 2px solid $main_pink;
}

li {
  font-size: 100%;
}

.list_header {
  margin-bottom: 0;
  font-weight: bold;
  color: $main_pink;
}

.author {
  color: $main_navy;
  font-size: 80%;
  font-weight: bold;
}

label {
  color: $main_pink;
  font-weight: bold;
}

select {
  font-size: 80%;
}

#instructions {
  height: 200px;
  width: 500px;
  max-width: 500px;
}

.index_page {
  border-bottom: 3px solid $ice;
  color: $main_navy;
  font-size: 90%;
  margin-bottom: 0;
}

.filter_box {
  width: 100%;
  height: 100%;
  background: $ice;
  padding: 10px;

}

.list_header a {
  font-size: 100%;
  color: $main_pink;
}

ul.index {
  margin-left: 0;
  list-style: none;
}

th {
  text-align: left;
  color: $main_pink;
}


.ingredients_check_box {
  display: inline-block;
}
